* {box-sizing: border-box; padding: 0; margin: 0; font-family: 'Roboto Mono', monospace;}

body {
    background: #ececec;
}

#devfinder {
    background: #ececec;
    padding: 3vmax;
    box-sizing: border-box;
}

.devfinder--titletheme {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titletheme--title {
    color: #555555;
    font-size: 24px;
}
.titletheme--buttontheme .buttontheme-btn{
    position: relative;
    display: flex;
    align-items: center;
    color: #555555;
    font-size: 14px;
    cursor: pointer;
    margin-left: -10vmax;
}
.titletheme--buttontheme .buttontheme-btn i {
    position: absolute;
    margin-left: 8vmax;
    opacity: 0;
}
.titletheme--buttontheme .buttontheme-btn .fa-active {
    opacity: 1;
}

.devfinder--search {
    width: 100%;
    height: 50px;
    background: #c1d1d3;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vmax;
}
.devfinder--search i {
    color: #7796b9;
    font-size: 20px;
    margin-left: 10px;
}
.search--input {
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    color: #555555;
    outline: none;
}
.search--input::placeholder {
    color: #55555565;
}
.search--button {
    width: 130px;
    height: 38px;
    border-radius: 13px;
    border: none;
    background: #7796b9;
    color: #fff;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}
.search--button:hover {
    background: #235e75;
}

.devfinder--datauser {
    background: #c1d1d3;
    width: 100%;
    border-radius: 13px;
    padding: 3vmax;
    margin-top: 3vmax;
}
.datauser--peopleinformation {
    display: flex;
    align-items: center;
}
.peopleinformation--image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 14px;
    box-sizing: border-box;
    overflow: hidden;
}
.peopleinformation--image img  {
    width: 110px;
    height: 110px;
}

.peopleinformation--identity .identity--name{
    color: #555555;
    font-size: 18px;
    margin-bottom: 5px;
}
.identity--username {
    color: #0E6AD5;
    font-size: 14px;
    margin-bottom: 5px;
}
.identity--joineddate {
    color: #55555565;
    font-size: 14px;
}

.datauser--githubinformation {
    margin-top: 18px;
}
.githubinformation--bio .bio--pbio {
    color:#555555;
    font-size: 13px;
}

.githubinformation--numbers {
    margin-top: 4vmax;
    width: 100%;
    height: 100px;
    background: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vmax;
    border-radius: 13px;
}

.numbers--item {
    text-align: center;
}
.item--title {
    color: #55555565;
    font-size: 13px;
}
.item--number {
    color: #555555;
    font-size: 20px;
    margin-top: 10px;
}

.githubinformation--othersinfos {
    margin-top: 4vmax;
}
.othersinfos--list {
    text-align: left;
}
.othersinfos--listitem {
    list-style: none;
    color: #555555;
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.othersinfos--listitem:hover {
    color: #55555565;
}
.othersinfos--listitem i {
    font-size: 20px;
}
.othersinfos--listitem a {
    text-decoration: none;
    color: #555555;
    transition: color 0.1s ease-in-out;
}
.othersinfos--listitem a:hover {
    color: #55555565;
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ececec;
    }
    #devfinder {
        padding: 0 15vmax;
    }
    .titletheme--buttontheme .buttontheme-btn{
        margin-left: -7vmax;
    }
    .titletheme--buttontheme .buttontheme-btn i {
        margin-left: 5vmax;
    }

    .devfinder--datauser {
        display: grid;
        grid-template-columns: 135px 74%;
    }
    .datauser--peopleinformation {
        display: flex;
        align-items: unset;
        grid-column: 1/3;
    }
    .peopleinformation--identity {
        display: grid;
        width: 80%;
        grid-template-rows: repeat(2, 30px);
        grid-template-columns: repeat(2, 1fr);
    }
    .peopleinformation--image {
        width: 120px;
        height: 120px;
    }
    .peopleinformation--image img  {
        width: 130px;
        height: 130px;
    }
    .identity--name {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        margin: 0;
    }
    .identity--username {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        margin: 0;
    }
    .identity--joineddate {
        grid-column: 2;
        grid-row: 1;
        font-size: 12px;
        align-self: center;
        margin: 0;
    }

    .datauser--githubinformation {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -50px;
    }
    .githubinformation--numbers {
        margin-top: 1vmax;
    }

    .githubinformation--othersinfos {
        width: 100%;
        margin-top: 1vmax;
    }
    .othersinfos--list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}